@keyframes searchAnimation {
    0%   {background-color:  rgba(255, 199, 78, 0.822);}
    50%  {background-color:   rgba(233, 230, 58, 0.562);}
    100% {background-color:   rgba(240, 237, 77, 0.562);}
  }

  @keyframes pathAnimation {
    0%   {background-color:   rgba(0, 238, 255, 0.527);}
    15%  {background-color:   rgba(3, 191, 204, 0.527);}
    100% {background-color:    rgba(1, 167, 179, 0.527);}
  }

.square {
    font-size: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    transition: 0.4s;
    background: rgba(255, 179, 179, 0.425);
    border: 2px solid rgba(253, 249, 249, 0.897);
}

.square:hover {
    transition: 0.6s;
    background: rgba(246, 117, 117, 0.404);
}

.square:focus {
    outline: none;
}

.start{
    font-size: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(243, 69, 26, 0.911);
    border: 2px solid rgba(253, 249, 249, 0.897);
    background-image: url(play-button.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}

.start:hover {
    transition: 0.8s;
    font-size: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(238, 81, 42, 0.911);
    border: 2px solid rgba(253, 249, 249, 0.897);
    background-image: url(play-button.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}

.start:focus {
    outline: none;
}

.finish{
    font-size: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(57, 118, 224, 0.7);
    border: 2px solid rgba(253, 249, 249, 0.897);
    background-image: url(finish.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
}

.finish:hover{
    transition: 0.6s;
    font-size: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(65, 121, 218, 0.7);
    border: 2px solid rgba(253, 249, 249, 0.897);
    background-image: url(finish.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
}

.barrier{
    font-size: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(16, 7, 24, 0.7);
    border: 2px solid rgba(253, 249, 249, 0.897);
}

.search-area{
    font-size: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    animation-name: searchAnimation;
    animation-duration: 2s;
    transition: 0.6s;
    text-align: center;
    background: rgba(241, 239, 95, 0.562);
    border: 2px solid rgba(253, 249, 249, 0.897);
}

.shortestPath{
    font-size: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    animation-name: pathAnimation;
    animation-duration: 1.5s;
    text-align: center;
    background:  rgba(1, 167, 179, 0.527);
    border: 2px solid rgba(253, 249, 249, 0.897);
}
